// general
// $primary: #5c34a2;
$primary: #1c9f90;

// $secondary: #87e1a9;
$secondary: #40bfb2;

$tertiary: #bf9cff;
$additional-font: #fff;

$btn-line-color: $primary; // button border and font color && hover bg color